{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "parserOptions": {
    "sourceType": "module",
  },
  "extends": [
    "eslint:recommended", "google",
  ],
  "plugins": [
    "react",
  ],
  "rules": {
    "require-jsdoc": 0,
    // class arrow methods breaks with this rule
    "no-invalid-this": 0,
    // react
    "react/jsx-key": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/prefer-es6-class": [2, "always"],
  },
}
