.root {
  max-width: 48em;
  margin: 0 auto;
}

[disabled] {
  cursor: default;
  opacity: .6;
}

.examples {
  font-size: .85em;
  margin: 0 auto;
  max-width: 40em;
  text-align: center;
}

.exampleList {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.exampleList > li > button {
  background: transparent;
  border: 0;
  color: hsl(165, 90%, 40%);
  font: inherit;
  padding: 0 0.5em;
  text-decoration: underline;
}

.submit {
  border-top: 1px solid #eee;
  margin: 2em 0;
  padding-top: 3em;
  text-align: center;
}

@media (min-width: 42em) {
  .fieldGroups {
    display: flex;
    justify-content: space-between;
    margin-left: -1.5em;
  }
  .fieldGroup {
    flex: 1 1 0;
    margin-left: 1.5em;
    max-width: 22em;
  }
}